.comments p {
  font-style: italic;
}
.comment-container {
  background-color: rgba(196, 119, 119, 0);
  border-radius: 4px;
  border: 1px solid white;
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.comment-container p {
  margin-left: 4px;
  margin-right: 6px;
  margin-bottom: 0px;
  text-align: justify;
}
.author-comment {
  display: flex;
  justify-content: space-between;
}
.author-comment button {
  margin-bottom: -1px;
  margin-right: -1px;
}
.button-user {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  height: 30px;
  margin-bottom: 0px;
  width: 80px;
}
.button-user:hover {
  background-color: black;
  color: white;
}
.black i {
  color: black;
  width: 16px;
}
.black:hover i {
  color: white;
}