.grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: -570px;
}

.grid {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  width: auto;
}

.pagination {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 0px;
  top: 65px;
}
  
.pagination span {
  display: flex;
  border: 1px solid #ddd;
  color: black;
  cursor: pointer;
  float: left;
  margin: 0px 2px;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color .3s;
}
  
.pagination span.active {
  background-color: #0099FF;
  border: 1px solid #0099FF;
  color: white;
}

.pagination span:first-child {
  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
}

.pagination span:last-child {
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
}
  
@media only screen and (max-width: 1280px) {
  .grid-container {
    display: flex;
    justify-content: center;
  }
  .grid {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    justify-content: center;
  }

  .grid {
    margin-top: 40px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  
  .pagination {
    top: 45px;
  }

  .pagination span {
    padding: 2px 4px;
  }

}