.container {
  margin-top: 90px;
  margin-bottom: -380px;
  width: 100%;
}

.form-container {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid white;
  padding: 20px;
  padding-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
