.container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: -450px;
}
.not-found-image {
  border-radius: 5px;
  display: flex;
  opacity: 0.5;
  margin-top: 100px;
}