.grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: -355px;
  margin-right: 0px;
  margin-left: 0px;
}
.grid {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 90%;
}
.user-info {
  background-color: rgb(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  padding: 15px;
  flex-direction: column;
  width: 30%;
}
i {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #42a948;
}

.img {
  border-radius: 10px;
  border: 2px solid grey;
  max-width: 120px;
  max-height: 160px;
  margin-top: 20px;
  
}

.book-info {
  display: flex;
  padding: 15px;
  width: 65%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid white;
}

.book-summary {
  font: italic small-caps bold 17px/18px Georgia, serif;
  color: #fdfff5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 1280px) {
  .grid {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 95%;
  }
  .user-info {
    width: 100%;
    margin-bottom: 10px;
  }
  .book-info {
    width: 100%;
  }
}