.footer {
    display: block;
    margin-top: 79.5vh;
    font-size: 20px;
    color: rgba(0,0,0,.5);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 10px;
  }